extends layout

block content
  h1= title
  p Welcome to #{title}
  form
    div(class='form-group')
      input(type="text", placeholder="Search", name="search", class='form-control')
    button(class='btn btn-primary') Search
  br
  table(class='table table-bordered')
    thead
      th= 'one'
      th= 'two'
    tbody
      for object in objects
        tr
          for subobj in object
            td= subobj
